<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title %}Estiam{% endblock %}</title>

        {% block stylesheets %}
            <link href="{{ asset('bundles/app/css/bootstrap.min.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/app/css/font-awesome.min.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/app/css/main.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/app/css/animate.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/app/css/responsive.css') }}" rel="stylesheet">
        {% endblock stylesheets %}

        <!--[if lt IE 9]>
        <script src="{{ asset('bundles/app/js/html5shiv.js') }}"></script>
        <script src="{{ asset('bundles/app/js/respond.min.js') }}"></script>
        <![endif]-->

        <link rel="shortcut icon" href="{{ asset('bundles/app/images/ico/favicon.ico') }}">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('bundles/app/images/ico/apple-touch-icon-144-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('bundles/app/images/ico/apple-touch-icon-114-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('bundles/app/images/ico/apple-touch-icon-72-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" href="{{ asset('bundles/app/images/ico/apple-touch-icon-57-precomposed.png') }}">
    </head><!--/head-->

    <body>

        {{ include('AppBundle:includes:header.html.twig') }}

        {% block top '' %}

        {% block content '' %}

        {{ include('AppBundle:contact:form.html.twig') }}


        {{ include('AppBundle:includes:footer.html.twig') }}

    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('bundles/app/js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/js/gmaps.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/js/smoothscroll.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/js/jquery.parallax.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/js/coundown-timer.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/js/jquery.scrollTo.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/js/jquery.nav.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/js/main.js') }}"></script>
    {% endblock javascripts %}
    </body>
</html>