{% extends 'AppBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Blog
{% endblock title %}

{% block top %}
    <section id="home">
        <div id="main-slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <img class="img-responsive" src="{{ asset('bundles/app/images/slider/bg4.jpg') }}" alt="slider">
                </div>
            </div>
        </div>
    </section>
{% endblock top %}

{% block content %}
    <section id="twitter">
        <div id="twitter-feed" class="carousel slide" data-interval="false">
            <div class="row">
                {% for article in articles %}
                    <div class="col-md-6">
                        <div class="blog-post ">
                            <h2>{{ article.title }}</h2>
                            <p>{{ article.content[0:50] }}…</p>
                            <a href="{{ path('post', { 'id' : article.id}) }}" class="btn btn-primary">Read it <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                {% else %}
                    Sorry there no blog post yet.
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock content %}