{% extends 'AppBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Blog Post 1
{% endblock title %}

{% block top %}
    <section id="home">
        <div id="main-slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <img class="img-responsive" src="{{ asset('bundles/app/images/slider/bg4.jpg') }}" alt="slider">
                </div>
            </div>
        </div>
    </section>
{% endblock top %}

{% block content %}
    <section id="post">
        <div id="twitter-feed" class="carousel slide" data-interval="false">
            <div class="row">
                <div class="post col-md-12">
                    <h1>{{ article.title }}</h1>
                    <p>{{ article.content|raw }}</p>
                </div>
                <div class="item">
                    <img src="{{ article.authorPicture }}" alt="{{ article.authorName }}">
                    <p>{{ article.authorPosition }}</p>
                    <a href="{{ article.authorTwitter }}">{{ article.authorName }}'s Twitter account</a>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}